<section class="user-view">
  <img [src]="data.avatar" width="70" height="70" />
  <form class="mt-3" [formGroup]="viewUserForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label>First Name</label>
      <input
        formControlName="firstName"
        class="form-control"
        type="text"
        placeholder="Enter first name"
      />
    </div>
    <div class="mb-3">
      <label>Last Name</label>
      <input
        formControlName="lastName"
        class="form-control"
        type="text"
        placeholder="Enter last name"
      />
    </div>
    <div class="mb-3">
      <label>Email</label>
      <input
        formControlName="email"
        class="form-control"
        type="email"
        placeholder="Enter email address"
      />
    </div>

    <button type="submit" class="btn btn-form">Submit</button>
  </form>
</section>
